$base-color: rgba(255, 255, 255, .95);
$contrast-color: #131919;

$back-color: #030d13;
$back2-color: #3a3a5f;

$shadow-color: $back-color;

#app {
  --primary: #2372bf;
  --primary2: #4392cf;
  --primary3: #63b2df;
  --secondary: #df6955;
  --tertiary: #BDA8A4;
}

@import "../../../node_modules/tentkeep-vue/src/assets/sass/base";

html, body, #app {
  height: 100%;
}
ul {
  list-style: none;
}
hr {
  border-color: var(--tertiary);
}

body {
  background: linear-gradient(45deg, $back-color, $back2-color);
}

.card {
  @extend .p2;
  @extend .bg-base;
  @extend .shadow;
  @extend .border-left-tertiary;
  border-width: 4px;
}
